h1 {
  text-align: center;
}

li{
  list-style-type:none;;
}

.podio{
  width: 700px;
  display: inline-block;
  margin: 0 25%;
}

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
  margin:auto;
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  text-align: center;
  margin: auto;
  width: 300px;
  display: inline-block;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline-block;
}

 .premiacoes{
  text-align: center;
}

.premiacoes li{
  display: inline;
}