.super-mario {
    position: absolute;
  width: 200px;
  z-index: 5;
}

.goomba {
  position: absolute;
  width: 100px;
  z-index: 4;
  top: 380px;
  left: 150px;
}

.baloon {
  position: absolute;
  top: 70px;
  left: 230px;
  z-index: 1;
}

.speach {
  position: absolute;
  font-size: 25px;
  top: 100px;
  left: 250px;
  z-index: 3;
}

.bowser {
  position: absolute;
  width: 200px;
  left: 500px;
  top: 200px;
  z-index: 2;
}
